<div class="container md">
    <h1 class="heading-xl-wl mb-2x">Users</h1>

    <table>
        <thead>
            <tr>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(users, function(user) { %>
                <tr>
                    <td><%- user.forename %></td>
                    <td><%- user.surname %></td>
                    <td><%- user.email %></td>
                    <td><a href="/users/<%- user.id %>">View user</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
